/* Estilos básicos e reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos dos campos de seleção e botões */
label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#gerar-pdf {
    background-color: #2196F3;
}

#gerar-pdf:hover {
    background-color: #0b7dda;
}

/* Responsividade */
@media (min-width: 768px) {
    body {
        max-width: 800px;
        margin: auto;
    }

    button {
        width: auto;
        margin-right: 5px;
    }
}
